<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <% for (let i = 0; i < pokemon.length; i++) { %>
        <h2><%=pokemon[i].name%></h2>
        <a href="/<%= i %>"><img src="<%=pokemon[i].img%>"></a>
    <% } %>
</body>
</html>