<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <nav>
        <a href="/pokemon/new">Add Pokemon</a>
    </nav>
    <% for (let i = 0; i < pokemon.length; i++) { %>
        <h2><%=pokemon[i].name%></h2>
        <a href="/pokemon/<%= i %>"><img src="<%=pokemon[i].img%>"></a>
        <a href="/pokemon/<%= i %>/edit">Edit</a>
    <% } %>
</body>
</html>