<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./css.ejs")%>
</head>



<nav class="containerNav">
    <h1>The Pokedex</h1>
    <div class="navButtonContainer">
        <a class="buttonClass navButton" href="/pokemon">Pokedex</a>
        <a class="buttonClass navButton" href="/pokemon/new">Add Pokemon</a>
    </div>
</nav>
</html>