<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./css.ejs")%>
</head>



<nav class="containerNav">

    <a class="buttonClass" href="/pokemon">Pokedex</a>
    <a class="buttonClass" href="/pokemon/new">Add Pokemon</a>
    
</nav>
</html>