<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=poke.name%></title>
</head>
<body>
    <nav>
        <a href="/pokemon/new">Add Pokemon</a>
        <a href="/pokemon">Pokemon List</a>
    </nav>
    <img src="<%=poke.img%>">
</body>
</html>